/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   :root {
    --black: #1a1a1a;
    --white: #dddbdb;
    --grey: #919191;
    --pink: #ffc6b5;
  }
  
  *, *::before, *::after{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  html{
      scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h2 {
    font-size: 4em;
    margin: 2rem 0;
  }
  
  h4{
      font: normal bold 2em/150% "Ubuntu Mono", monospace;
      margin: .5rem 0;
  }
  
  h5 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 1em;
  }
  
  .sec-color {
    color: var(--grey);
  }
  
  .btn-prim {
    border: 2px solid var(--black);
    padding: 1.5rem;
    font: 700 1.125em "Ubuntu Mono", monospace;
    margin: 1rem 0;
    cursor: pointer;
    width: fit-content;
    text-align: center;
  }
  
  .btn-prim:hover {
    background: var(--black);
    color: var(--white);
  }
  
  .btn-sec {
    color: var(--white);
    background-color: var(--black);
    padding: 1rem;
    font: 700 1.125em/150% "Ubuntu Mono", monospace;
    border: 2px solid var(--white);
    cursor: pointer;
    margin: 1rem 0;
    width: fit-content;
  }
  
  .btn-sec:hover{
      background-color: var(--white);
      color: var(--black);
  }
  
  /* Menu */
  
  .menu{
      display: none;
      width: 100%;
      height: 100vh;
      background-color: var(--black);
      color: var(--white);
      padding: 0 10%;
      font: 700 2em/150% "Ubuntu Mono", monospace;
      transition: all 1.5s ease-in-out;

  }
  
  .menu.open{
      display: flex;
      position: fixed;
      z-index: 99;
      justify-content: flex-start;
      align-items: center;
  }
  
  .links{
      width: 100%;
  }
  
  .nav_link{
      display: block;
      padding: 1rem 0;
  }
  
  .nav_link:hover{
      letter-spacing: .25rem;
      color: pink;
      transition: all .5s ease-in-out;
  }
  
  .nav_social{
      text-align: center;
      margin-top: 5rem;
  }
  
  .nav_social i{
      margin: 1.5rem;
  }
  
  .nav_social i:hover{
      color: var(--pink);
      transition: all .5s ease-in;
  }
  
  .burger-btn{
      position: fixed;
      top: 1.5rem;
      right: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--black);
      border-radius: 50%;
      cursor: pointer;
      transition: all .5s ease-in-out;
      z-index: 100;
    }
  
    .burger{
      width: 1.5rem;
      height: 2px;
      background: var(--white);
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
  
    .burger::before, .burger::after{
      content: '';
    position: absolute;
    width: 1.5rem;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    }
  
    .burger::before{
      transform: translateY(-.5rem);
    }
    .burger::after{
      transform: translateY(.5rem);
    }
  
    .burger-btn.open .burger{
      transform: translateX(-50px);
      background: transparent;
    }
    
    .burger-btn.open .burger::before{
      transform: rotate(45deg) translate(35px, -35px);
    }
    
    .burger-btn.open .burger::after{
      transform: rotate(-45deg) translate(35px, 35px);
    }
  
    
  
  /**/
  
  .title {
    font: normal bold 1.5em "Ubuntu Mono", monospace;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  
  p {
    line-height: 150%;
  }
  body {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--black);
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      120deg,
      #ffc6b5 0%,
      #fdf4da 48%,
      #b4ffcd 100%
    );
    mask-image: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
  }
  
  .hero {
    position: absolute;
    top: 30%;
    left: 10%;
  }
  
  .name {
    font-size: 5em;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .hero-text p {
    font-size: 0.875em;
    margin: 1rem 0;
  }
  
  /* About */
  section {
    height: 100%;
    background-color: var(--black);
    background-image: none;
    mask-image: none;
    display: flex;
    flex-direction: column;
    padding: 10%;
    color: var(--white);
  }
  
  .about-description {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutme,
  .mypic {
    margin: 1.5rem;
  }
  
  .about-btn {
    text-align: center;
  }
  
  .about-btn a {
    font: normal bold 1.125em/150% "Ubuntu Mono", monospace;
  }
  
  /* Skills */
  
  .skill-info {
    border: 2px solid var(--white);
    padding: 1rem;
    margin: 1.5rem 0;
  }
  
  .iconify.skill {
    color: var(--grey);
    width: 2rem;
    height: 2rem;
  }
  
  /* Projects */
  
  .project-info {
    height: 20rem;
    width: 100%;
    margin: 1.5rem 0;
    border: 2px solid var(--black);
    color: var(--black);
  padding: 2rem 1.5rem;
  }

  .project-info:nth-child(1){
    background-image: linear-gradient(
      120deg,
      #ffc6b5 0%,
      #fdf4da 48%,
      #b4ffcd 100%
    );
  }

  .project-info:nth-child(2){
    background-image: linear-gradient(
      0deg, 
      #f3e7e9 0%, 
      #e3eeff 99%, 
      #e3eeff 100%
      );
  }

  .project-info:nth-child(3){
    background-image: linear-gradient(
      70deg, 
      #d5dee7 0%, 
      #ffafbd 0%, 
      #c9ffbf 100%
      );
  }
  
  .project-info:hover {
      color: var(--white);
      background: #1a1a1a;
      /*background-image: url(/img/project1.jpg);*/
      /*object-fit: cover;*/
      border: 2px solid var(--white);
  }

  .projects-btn{
    display: flex;
    justify-content: center;
  }
  
  /* Contact */
  .underlined{
      z-index: 1;
      text-decoration: none;
      font-weight: 700;
      border-bottom: 1.5px solid var(--pink);
  }
  
  #contact{
      height: 90vh;
  }
  
  #contact i{
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5em;
      margin: 1rem 1rem 0 0;
      cursor: pointer;
    }
  
    #contact p{
      letter-spacing: .02em;
      line-height: 1.8;
    }
  
    #contact i:hover{
      color: var(--pink);
    }
  
    .contact-info{
      font: normal 700 1.125em/150% "Ubuntu Mono", monospace;
      margin: 1.5rem 0;
    }
  
    footer{
        background-color: #1a1a1a;
        padding: .5rem 10%;
    }
  
    .copy{
        font: normal 700 1em/150% "Ubuntu Mono", monospace;
        color: var(--grey);
        margin-top: 4rem;
    }
    
  
  @media only screen and (min-width: 768px) {
  
    .about-description {
      flex-direction: row;
      justify-content: space-between;
    }

    .skillset {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .skill-info {
      width: calc(25% - 1rem);
    }
  
    .skills-text p {
      max-width: 50%;
    }
  
    .projects {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .project-info {
      width: 20rem;
    }
  }
  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

